# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions
psycopg2-binary
pandas
SQLAlchemy
requests
azure-storage-blob
pyspark==3.0.3
pyspark-stubs==3.0.0.post3
unidecode